database-sys-api/src/main/mule/common.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="Initial-attribures" doc:id="34e05220-a8b5-4531-9eb1-650afdd03cf2" >
		<set-variable value="#[attributes.headers.client_id]" doc:name="client_id" doc:id="9b14652e-dd57-44c3-a7aa-d0cf501c37c4" variableName="client_id"/>
		<set-variable value="#[attributes.headers.correlation_id]" doc:name="correlation_id" doc:id="75510f2f-fcbb-4c03-ad2b-5e725fa5b5ed" variableName="correlation_id"/>
		<set-variable value="#[attributes.headers.App_name]" doc:name="App_name" doc:id="7e53b0c2-acd6-4aa4-9ac4-3e893d6854a4" variableName="App_name"/>
	</flow>
</mule>
